In [1]:
print ("hello World")

hello World

In [6]:
student_ages = (25, 30, 35, 40, 45)
print(student_ages)

(25, 30, 35, 40, 45)

In [5]:
student_names = ['Alice', 'Bob', 'Charlie', 'David', 'Eva']
print(student_names)

['Alice', 'Bob', 'Charlie', 'David', 'Eva']

In [4]:
students_scores = {'Alice': 85.5, 'Bob': 90.0, 'Charlie': None, 'David': 88.0, 'Eva': 92.5}
print(students_scores)

{'Alice': 85.5, 'Bob': 90.0, 'Charlie': None, 'David': 88.0, 'Eva': 92.5}

In [7]:
# List of student names
student_names = ['Alice', 'Bob', 'Charlie', 'David', 'Eva']

# Tuple of student ages
student_ages = (25, 30, 35, 40, 45)

# Combine the list and tuple to create a dictionary
students_dict = dict(zip(student_names, student_ages))

print(students_dict)

{'Alice': 25, 'Bob': 30, 'Charlie': 35, 'David': 40, 'Eva': 45}

In [15]:
import pandas as pd
df = pd.read_excel('sample_dataset.xlsx')
print(df)

      Name   Age                      University  Score
0    Alice  25.0           University of Toronto   85.5
1      Bob  30.0  University of British Columbia   90.0
2  Charlie  35.0               McGill University    NaN
3    David  40.0           University of Alberta   88.0
4      Eva   NaN          University of Montreal   92.5

In [18]:
import pandas as pd

# Load the dataset
df = pd.read_excel('sample_dataset.xlsx')

# Select only the 'Name' column
print(df['Name'])

0      Alice
1        Bob
2    Charlie
3      David
4        Eva
Name: Name, dtype: object

In [11]:
import pandas as pd

df = pd.read_excel('sample_dataset.xlsx')
df['Score'].fillna(df['Score'].mean(), inplace=True)
print(df)

      Name   Age                      University  Score
0    Alice  25.0           University of Toronto   85.5
1      Bob  30.0  University of British Columbia   90.0
2  Charlie  35.0               McGill University   89.0
3    David  40.0           University of Alberta   88.0
4      Eva   NaN          University of Montreal   92.5

In [13]:
high_scorers = df[df['Score'] > 90]
print (high_scorers)

  Name  Age              University  Score
4  Eva  NaN  University of Montreal   92.5

In [19]:
uppercase_names = [name.upper() for name in student_names]
print(uppercase_names)

['ALICE', 'BOB', 'CHARLIE', 'DAVID', 'EVA']

In [22]:
# Loop
squares = []
for x in range(10):
    squares.append(x**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [23]:
# List comprehension
squares_List = [x**2 for x in range(10)]
squares_List

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [27]:
df['Adjusted Score'] = df['Score'].apply(lambda x: x + 10)
df[['Score','Adjusted Score']]

   Score  Adjusted Score
0   85.5            95.5
1   90.0           100.0
2    NaN             NaN
3   88.0            98.0
4   92.5           102.5

In [29]:
def calculate_average(scores):
    df['Score'].fillna(df['Score'].mean(), inplace=True)
    return sum(scores) / len(scores)

average_score = calculate_average(df['Score'])
average_score

89.0

In [30]:
class Student:
    def __init__(self, name, age, city, score):
        self.name = name
        self.age = age
        self.city = city
        self.score = score

    def display_info(self):
        print(f"Name: {self.name}, Age: {self.age}, City: {self.city}, Score: {self.score}")

student1 = Student('Alice', 25, 'Toronto', 85.5)
student1.display_info()

Name: Alice, Age: 25, City: Toronto, Score: 85.5